<div layout-gt-sm="row" ng-show="amiibo">
  <div flex="20">
    <md-card class="md-whiteframe-z2">
      <img ng-src="{{amiibo.image}}" class="md-card-image" alt="amiibo.title">
      <h3>
        {{amiibo.title}}<sup ng-if="amiibo.hasTrademark" style="font-size: 10pt;">&#8482;</sup><sup ng-if="!amiibo.hasTrademark" style="font-size: 12pt;"></sup>
      </h3>
      <p>
        <form ng-submit="search()">
          <div class="row">
            <md-text-float label="Zipcode" type="number" ng-model="zipcode" autofocus></md-text-float>
            <md-text-float label="Radius" type="number" ng-model="radius" max="100"></md-text-float>
            <md-button type="submit" class="md-raised md-primary" ng-disabled="searching">Search All</md-button>
          </div>
        </form>
      </p>
    </md-card>
  </div>
  <div flex="80">
    <div layout-gt-sm="row">
      <div flex="33" ng-repeat="(index, retailer) in retailers | slice: 0:3">
        <md-card class="md-whiteframe-z2">
          <img ng-src="{{retailer.image}}" class="md-card-image" alt="{{retailer.title}} Logo" height="200">
          <p>
            <md-button class="md-raised md-warn" ng-disabled="!status || ((!status[retailer.shortname]['stores'] || status[retailer.shortname]['stores'].length === 0) &amp;&amp; !status[retailer.shortname]['item'])" ng-click="viewRetailer(retailer.shortname, $event)" ng-show="!searching">
              View
            </md-button>
            <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="searching"></md-progress-circular>
          </p>
        </md-card>
      </div>
    </div>
    <div layout-gt-sm="row">
      <div flex="33" ng-repeat="(index, retailer) in retailers | slice: 3:6">
        <md-card class="md-whiteframe-z2">
          <img ng-src="{{retailer.image}}" class="md-card-image" alt="{{retailer.title}} Logo" height="200">
          <p>
            <md-button class="md-raised md-warn" ng-disabled="!status || ((!status[retailer.shortname]['stores'] || status[retailer.shortname]['stores'].length === 0) &amp;&amp; !status[retailer.shortname]['item'])" ng-click="viewRetailer(retailer.shortname, $event)" ng-show="!searching">
              View
            </md-button>
            <md-progress-circular class="md-hue-2" md-mode="indeterminate" ng-show="searching"></md-progress-circular>
          </p>
        </md-card>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <p>Amiibro &copy; 2014 | Made with ♥ from  <a href="//github.com/brutalhonesty">@brutalhonesty</a></p>
</footer>
